@import url('https://fonts.googleapis.com/css2?family=Asap&family=Bebas+Neue&display=swap');

$colores: (
    color_principal: black,
    color_secundario: white,
    color_terciario: grey,
    color_separador: #D3D3D3,

);

$font_secundaria: 'Asap', sans-serif;
$font_principal: 'Bebas Neue', cursive;